/* Image Block and Site site identity styles */

.site-header{

}

.img-block{
  background-image: url('img/1header/header_background.jpeg');
  background-attachment: fixed;
  background-size: cover;

  height:600px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: hsla(0,50%,0%,0.4);
  background-blend-mode: overlay;

}

.site-identity{
  display: flex;
}

.site-logo{
  height: 110px;
  width: 110px;
  margin: 0;

  border: 2px solid white;
  display: block;
}

.site-title{
  font-family: $font__headings-h1;
  font-weight: 400;
  color: hsl(0,0%,100%);
  margin:0;
  padding: 0 .3em;
  text-align: center;
  border: 2px solid white;
  border-left: transparent;

  font-size: 300%;
}

.site-subtitle h3{
  color: hsl(0,0%,100%);
  letter-spacing: 2px;

}

/* Navigation styles */

nav ul{
  list-style-type: none;
  padding-left: 0;
  margin: 2rem auto;

  // transition: all .5s ease;

  display: flex;
  justify-content: center;
  width: 90%;

  li{
    margin: .5rem;

    flex: 2 0 10%;

    transition: all 1s ease;

    a{
      margin: 0;
      display: block;
      padding: 1rem;

      i{
        display: block;
        margin: auto;
        padding: auto;
        transition: all .8s ease;

        color:hsl(240,50%,0%);
      }
    }

    p{
      opacity: 0;
    }

    &:hover{
      flex: 3 0 15%;
    }

    &:hover p{
      letter-spacing: normal;
    }

// #003E7F  -- very dark blue

    &:nth-of-type(1) i{
      color: $color__menu-item-1;
    }

    &:nth-of-type(2) i{
      color: $color__menu-item-2;
    }

     &:nth-of-type(3) i{
      color:$color__menu-item-3;
    }

    &:nth-of-type(4) i{
      color:$color__menu-item-4;
    }

    &:hover p{
      opacity: 1;
    }

    &:hover i{
      opacity: 0;
    }
  }
}

.text-line{
  font-family: "Helvetica";
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-left: .3rem;

  color:$color__main-dark;
  letter-spacing:-1.25rem;

  transition: all 1s ease;

}

.text-line:hover{
  letter-spacing: normal;
}

/* Menu Centering Styles */

.menu-item a{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;

  i {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  p {
    grid-column: 1/2;

    grid-row:1/2;
  }
}
