.project-page{
  max-width: 1000px;
  margin-top: 100px;
}

/* .project-page p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: var(--base);

  max-width: 85%;
} */

.project-page .project-title{
  text-align: center;
  margin-bottom: 2rem;
}

.project-hats-worn span{
  font-size: 23pt;
  margin-right: 2rem;
  line-height: 1.6;
}

.project-hats-worn .project-heading-2,
.project-tech-used .project-heading-2,
.project-about .project-heading-2{
  text-align: left;
}


.project-page .columns{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;

  margin-bottom: 3rem;
}

/* .project-page .columns.project-top-block{
  max-width: 1000px;
  margin: auto;
} */

.project-page .columns-reverse{
  grid-template-columns: 1fr 4fr;
}


.project-page .project-hats-worn,
.project-page .project-tech-used{
  list-style-type: none;
  padding-left: 0;
}

.project-page .project-tech-used{
  margin-top:2rem;
}

.project-page .project-tech-used li{
  display: flex; 
  align-items: center; 

  margin-bottom: 1rem;
}

.project-page .project-tech-used li span{
  margin-left: 2rem;
}

.project-page .project-tech-used .img-tech-used{
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 0;
}

.project-page img{
  margin-bottom: 5rem;
}

.project-page video{
  max-width: 100%;
  margin-bottom: 5rem;
}

.project-page h2{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #6094ea;
  color: var(--soft-blue-two);
}

.top-block-whitespace{
  margin-top:4rem;
}

/* .project-requirements{
  grid-area:2/2/2/2;
} */



.project-heading-3{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #6094ea;
  color: var(--soft-blue-two);
  margin-bottom: 1rem;
}

.heading-hidden{
  visibility: hidden;
}

.project-page p{
 font-family: 'Muli','Helvetica', sans-serif;
 font-size: 18px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.44;
 letter-spacing: normal;
 text-align: left;
 color: var(--base);
 max-width: 85%;
}

.project-page .columns-reverse p{
  max-width: 100%;
}

.project-page li{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--base);
}


/* SCOPE & CONSTRAINTS */

.scope-list-item{
  display: flex;
  /* justify-content: flex-end; */
  grid-column: 2/3;
}

.scope-list-item-heading{
  color:var(--soft-blue-two);
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  margin-right: 2rem;
}

.scope-list-item .scope-list-item-descr{
  max-width: 71%;
}

.project-ux-insights{
  list-style: none;
}

.project-ux-insights li{
  font-weight: normal;
  margin-top: 1rem;
  font-size: 18px;
}

.project-ux-insights li:first-of-type{
  margin-top: 0;
}

.project-ux-insights li::before{
  content: "\2022";
  color: #4AC2C8;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.outcome-list-item{
  display: flex;
  justify-content: space-between;
  grid-column: 2/3;
}

.outcome-list-item-heading{
  color:var(--soft-blue-two);
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  margin-right: 2rem;
  flex:1 0 10%;
}

.outcome-list-item .outcome-list-item-descr{
  flex:5 0 50%;
}


.project-page .link-to-project{
  color: var(--soft-blue-two);
  background-color: transparent;
  border-radius: 5px;
  max-width: 200px;
  padding: 1rem 0.7rem;
  margin: auto;
  display: block;
  text-align: center;
  
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border: 1px solid var(--soft-blue-two);
}

.project-page .link-to-project:hover{
  background-color: var(--soft-blue-two);
  color: white;
  
  border: 1px solid var(--soft-blue-two);
}

.bot-nav{
  list-style-type: none;
  padding-left: 0;
  max-width: 800px;
  margin: 6rem auto 2rem;

  display: flex;
  justify-content: space-between;
}

.bot-nav li{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #d9d9d9;
}

.bot-nav li a{
  text-decoration: none;
  color: #d9d9d9;
}

.bot-nav li a:hover{
  color: var(--soft-blue-two);
}

/* ============ Design Studies page =========== */

.studies-page{
  max-width: 832px;
  margin-top: 100px;
}

.studies-page .project-title{
  text-align: center;
  margin-bottom: 2rem;
}

.studies-grid{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}


.content{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.overlay{
  background-color: rgba(0,0,0,0.7);
  transition: all .5s ease;
  opacity: 0;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color:white;
  letter-spacing: 1.5px;
  opacity: 1;
}

.column{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.column:hover .overlay{
  opacity:1;
}

@media only screen and (max-width: 600px) {

  .project-page{
    max-width: 600px;
    margin:70px 1rem 0 1rem;
  }

  .project-page .project-title{
    text-align: center;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .project-page .columns{
    display: block;
  }

  .bot-nav{
    display: block;
    width: 120px;
  }

  .bot-nav li{
    font-size: 16px;
    margin:1rem 0;
    text-align: center;
  }

  /* == Design Studies Mobile == */

  .studies-grid{
    display: block;
  }

  .column{
    margin: 1rem;
  }

  .content{
    width: 100%;
    height: 100%;
  }

  .overlay{
    display: none;
  }

}
