@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700|Open+Sans:300,400,700');

html, body{
  margin: 0;
  padding: 0;
}

.wrapper{
  max-width: 1100px;
  margin: auto;
}

img{
  max-width: 100%;
  display: block;
}

:root {
 --aqua: #17ead9;
 --soft-blue: #6078ea;
 --pink-purple: #f02fc2;
 --soft-blue-two: #6094ea;
 --robin-s-egg: #6fd6ff;
 --washed-out-green: #bff098;
 --wheat: #fce38a;
 --blush: #f38181;
 --weird-green: #42e695;
 --greeny-blue: #3bb2b8;
 --darkish-purple: #5b247a;
 --aqua-two: #1bcedf;
 --background: #f8f8ff;
 --base: #58555c;
 --inactive: #c1c1c1;
}

body{
  background-color: var(--background);
}

.dashed-path{
  display: none;
}


.mobile-header{
  background-color: white;
  display: flex;
  justify-content: space-between;

  z-index: 1;
  position: fixed;
}

.navbar{
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  max-width: 100%;
  padding: 0 1rem;

}

.navbar-nav{
  flex-direction: row;
  justify-content: space-between;
}

nav ul li{
  margin:.5rem;
}

.navbar-light .navbar-nav .nav-link{
  text-decoration: none;
  color: var(--inactive);
  font-family: 'Muli','Helvetica', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: var(--inactive);
}

.navbar-light .navbar-nav .active>.nav-link{
  color: var(--base);
}


.navbar-light .navbar-brand  {
 font-family: 'Muli','Helvetica', sans-serif;
 font-size: 16px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.5;
 letter-spacing: normal;
 text-align: left;
 color: var(--base);
 margin:0.5rem;
}

 .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
   color: var(--base);
 }

 .navbar-light .navbar-toggler{
   border: none;
 }

 .navbar-light .navbar-toggler:focus{
   outline: none;
 }

/* ======= Mobile view ========== */

/* ============ Top Block Styles ======= */

.top-block{
  margin: 100px 2rem 1rem 2rem;
}
.site-title{
  display: inline-block;
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: left;
  color: var(--base);
  margin-bottom: 1rem;
  width:70%;
}


.top-highlight{
  color:var(--soft-blue);
}

.site-subtitle{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: normal;
  text-align: left;
  color: var(--base);
}

.mobile-hidden{
  display: none;
}

.antey-bed{
  width: 140px;
  margin-top: 2rem;
}

.dashed-path-mobile{
  position: absolute;
  z-index: -10000;
  top:500px;
  margin: 0 1rem;
}


/* ===== projects block styles ======== */

.project{
  margin-top: 6rem;
}

.project-image{
  width: 300px;
  margin: auto;
  margin-bottom: 0;
}

.project-title{
  font-family: 'Muli','Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--base);

  margin-top: 1.5rem;
  margin-left: 2rem;
}

.project-descr{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: var(--base);

  margin-left: 2rem;
  max-width: 85%;
}

.project-page-link{
  font-family: Muli;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;

  margin-left: 2rem;
  text-decoration: none;
}

.project-page-link-leal{
  color:var(--soft-blue);
}

.project-page-link-leal:visited{
  color:var(--soft-blue);
  text-decoration: none;
}

.project-page-link-leal:hover{
  color: var(--aqua);
}

a:hover{
  text-decoration: none;
}

.project-page-link-fauna{
  color:var(--soft-blue-two);
}

.project-page-link-fauna:visited{
  color:var(--soft-blue-two);
  text-decoration: none;
}

.project-page-link-fauna:hover{
  color:var(--pink-purple);
}

.project-page-link-fauna .project-image{
  margin-left:12rem;
}

.project-page-link-2gwk{
  color:var(--robin-s-egg);
}

.project-page-link-2gwk:visited{
  color:var(--robin-s-egg);
  text-decoration: none;
}

.project-page-link-2gwk:hover{
  color:var(--washed-out-green);
}

.project-page-link-studies{
  color:var(--blush);
}

.project-page-link-studies:visited{
  color:var(--blush);
  text-decoration: none;
}

.project-page-link-studies:hover{
  color:var(--wheat);
}

/* === Contact Form Styles === */

.bot-highilight{
  color:var(--greeny-blue);
}


.about-text{
}

.contact-form{
  margin: 2rem;
  text-align: right;
}

.form-control{
  background-color: var(--background);
  border: none;
  border-bottom: 1px solid var(--base);
  border-radius: 0;
}

.form-control:focus{
  outline: none;
  background-color: var(--background);
  border-color: var(--base);
  box-shadow: none;
}

.form-control::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: var(--soft-blue);
}

.btn{
  padding: .5rem 2rem;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  background-image: linear-gradient(113deg, var(--aqua), var(--soft-blue));
  border: none;
  color:white;
}
.btn-submit:hover{
  background-image: linear-gradient(135deg, var(--robin-s-egg), var(--washed-out-green));
}

.contact-message{
  display: none;
}

.contact-message ul li{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #58555c;
  color: var(--base);
}

footer{
  margin-top: 6rem;
}

footer p{

 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 font-weight: 300;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.42;
 letter-spacing: normal;
 text-align: center;
 color: var(--base);
}

/* =========== Desktop Styles ================ */

@media screen and (min-width: 600px){

  .navbar-light .navbar-brand{
    font-size: 20px;
  }

  .navbar-light .navbar-nav .nav-link{
    font-size: 20px;
  }

/* ========== Top Block Styles ============= */

  .site-title{
    font-size: 70px;
  }

  .site-subtitle{
    font-size: 24px;
  }

  .mobile-hidden{
    display: block;
  }

  .antey-bed{
    width: 210px;
  }

  .top-block{
    margin-bottom: 15rem;
  }


/* ======== Project Block Styles =========== */
  .dashed-path{
    display: block;
    position: absolute;
    max-width: 1000px;
    z-index: -10000;
    /* top:550px; */
  }

  .project{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leal{
    margin-top: 30rem;
  }

  .leal .project-image{
    margin-left: 6rem;
  }

  .fauna{
    margin-top: 23rem;
  }

  .twogwk{
    margin-top: 30rem;
  }

  .twogwk .project-image{
    margin: 0;
    margin-left: 3rem;
  }

  .studies{
    margin-top: 20rem;
  }

  .contact{
    margin-top: 26rem;
  }

  .project:nth-of-type(2n){
    flex-flow: row-reverse;
  }

  .project:nth-of-type(2n+1){
    flex-flow: row;
  }

  .project-text{
    flex: 1 0 30%;
    margin: 1rem;
  }

  .project-img-wrap{
    flex: 1 0 30%;
  }

  .project-image{
    margin: 0;
    width: 380px;
  }


  .img-studies,
  .img-2gwk{
    width: 500px;
  }

  .project-title{
    font-size: 36px;
  }

  .project-descr{
    font-size: 20px;
  }

  .project-page-link{
    font-size: 20px;
  }
  .contact-wrap{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-message{
    display: block;
    margin: 1rem;
    flex: 1 1 20%;
  }
  .contact-form{
    flex: 1 0 20%;
  }

  .form-control::placeholder{
    font-size: 20px;
  }
}

/* ============== Project Page Styles =============  */
