.hobbies{
  background-color: hsla(211, 26%, 65%,.2);

  margin: 0;
  padding:3rem 0 6rem 0;

  .hobbies-content{
    width: 75%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .hobby-title{
    flex: 1 0 100%;

    h2{
      width: 4em;
      margin: auto;
      text-align: center;
      color:$color__main-dark;
      font-weight: bold;
      border-bottom: 2px solid $color__main-dark;
      padding: 0 1em .4em;
    }
  }

  .hobby-item{
    flex: 0 0 28%;
    margin: 1rem;

    img{
      width: 75px;
      height: 75px;
      margin: auto;
    }

    h3{
      margin-bottom: .8em;
      color:$color__main-dark;
      text-align: center;
    }

  }

  .quote{
    text-align: center;
    width: 60%;
    margin: auto;

    padding: 1em;
    font-style: italic;


    span{
      display: block;
      font-style: italic;
    }
  }

}
