// General styles for the website.

body{
  /* background-color: hsla(240, 40%, 20%, 1); */
  background-image: url('img/paper_pattern_1.jpg');
  background-color: black;
  margin: 0;
  padding: 0;

  // color: ;
}

.wrapper{
  margin: auto;
}

.bold{
  font-weight: bold;
}

.span-heading{
  display: inline-block;
  margin-bottom: .8em;
  font-size: 1.5em;
  color:$color__main-dark;
}

.span-highlight{
  display: inline-block;
  margin-bottom: .8em;
  font-size: 1em;
  color:$color__main-dark;
}


/* ============ Summary import ================= */
@import "summary";

/* ============ Education import ================= */
@import "education";

/* =============== Work Experience import ============== */
@import "workxp";

/* =============== Portfolio import ============== */
@import "portfolio";

/* =============== Hobbies import ============== */
@import "hobbies";
