/* =============== Portfolio styles ============== */

.portfolio{
    margin-top: 3rem;
    padding-bottom: 3rem;

  h2{
    color:$color__main-dark;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 1/3;

    justify-self: center;

    border-bottom: 2px solid $color__main-dark;

    padding: 0 1em .4em;

  }

  .portfolio-grid{

    margin: auto;
    width: 60%;

    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;

    .portfolio-heading{
      grid-column: 1/3;
      grid-row: 1/2;
    }



    .item{
      width: 400px;
      height: 300px;
      // border: 1px solid hotpink;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;


      .item-background{
        opacity: 0;
        transition: all .5s ease;

        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 3;
      }

      .item-image{
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 2;
      }

      .item-description{
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 4;

        opacity: 0;
        transition: all .5s ease;

        color: white;
        padding: 1rem;

        display: flex;
        flex-flow: column;
        justify-content: space-between;

        h3{
          font-size: 1.5em;
          border-bottom: 2px solid white;
          padding-bottom: .6em;
          padding-left: .6em;
          margin-bottom: .3em;
          margin-top: .6em;
        }

        p{
          padding:0 .9em;
        }

      }
    }

    .item:hover{



      .item-background{
        opacity: .8;
      }

      .item-description{
        opacity: 1;
      }
    }
  }

  .item1 .item-background{
    background-image: url('img/5portfolio/port_bg_2.png');
    height: 100%;
    width: 100%;
  }
  .item2 .item-background{
    background-image: url('img/5portfolio/port_bg_1.png');
    height: 100%;
    width: 100%;
  }
  .item3 .item-background{
    background-image: url('img/5portfolio/port_bg_1.png');
    height: 100%;
    width: 100%;
  }
  .item4 .item-background{
    background-image: url('img/5portfolio/port_bg_2.png');
    height: 100%;
    width: 100%;
  }
}
